img {
    position: absolute;
    left: 85px;
    top: 90px;
    z-index: 1;
  }

  .img2 {
    position: absolute;
    left: 442px;
    top: -10px;
    z-index: 1;
  }

  .img3 {
    position: absolute;
    left: 900px;
    top: -10px;
    z-index: 1;
  }

  .name {
    position: absolute;
    left: 150px;
    top: 150px;
    z-index: 1;
  }


